# ignore vim swp files
*.swp

# additional helper files are not part of repository
vorlagen/
mytoken.txt

# ignore affinity-photo files in docs-folder
docs/*.afphoto

# maybe we use these files later...
docs/scr_detail*
docs/scr_sort*
docs/scr_kurz*

wordpress/*

# Wir haben ein separates Repo für das Wiki
docs/*.jpg

# Der Vendor-Folder kommt von phpcs.
vendor/*

# VS-Code spezifisch
composer.json
composer.lock
.vscode/*
